#intro {
	background-image: url('pwebsite/Selfie2Small2.gif');
	width:100%; 
	height:650px; 
	margin: auto;
	max-width: 1920px;
	background-size:cover;
	background-repeat: no-repeat;
}

#intro h2, h1 { margin:-30px; }

#intro h1 {
	color: #ffffff;
	text-align: center; 
	padding-left: 350px;
	padding-top: 80px;
	display: inline-block;
	vertical-align: middle;    
	font-size: 100px;
	font-family: 'Racing Sans One', cursive;
}

#intro h2 {
	color: #ffffff;
	display: inline-block
	vertical-align: middle; 
	padding-left: 400px;

	font-size: 30px;
	font-family: 'Racing Sans One', cursive;
}

#video {
	background-image: url('pwebsite/filmGifBoard.gif');
	background-color: #98c1ff;
	width:100%; 
	height:650px; 
	margin: auto;
	max-width: 1920px;
	background-size:cover;
	background-repeat: no-repeat;
}

#video h1 {
	color: #ffffff;
	text-align: center; 
	display: inline-block;
	vertical-align: middle; 
	padding-left: 900px;   
	font-size: 100px;
	font-family: 'Racing Sans One', cursive;
}

#video p {
		color: #99604f;
	text-align: center; 
	display: inline-block;
	vertical-align: middle; 
	padding-left: 900px;   
	font-size: 30px;
	font-family: 'Racing Sans One', cursive;
}

#video h2 {
	font-family: 'Racing Sans One', cursive;
	padding-left: 700px;
	color: black;
}

#video a {
    text-decoration: none;
    color: #2f2f2f;
    font-size: 50px;
}

#photography {
	background-image: url('pwebsite/photographyGifSmall.gif');

	background-color: #98c1ff;
	width:100%; 
	height:650px; 
	margin: auto;
	max-width: 1920px;
	background-size:cover;
	background-repeat: no-repeat;
}

#photography h1 {
	color: #ffffff;
	text-align: center; 
	display: inline-block;
	vertical-align: middle;    
	font-size: 100px;
	font-family: 'Racing Sans One', cursive;
}



#photography p {
	color: #acbcdd;
	text-align: center; 
	display: inline-block;
	vertical-align: middle; 
	padding-right: 900px;   
	font-size: 30px;
	font-family: 'Racing Sans One', cursive;
}


#photography h2 {
	font-family: 'Racing Sans One', cursive;
	color: #767c7c;
}


#photography a  {
    text-decoration: none;
	color: #767c7c;
    font-size: 50px;
}


#contact h1 {
	text-align: center; 
	font-size: 100px;
	font-family: 'Racing Sans One', cursive;
	display: inline-block;
	vertical-align: middle; 
	padding-left: 500px;
	padding-bottom: 200px;
	padding-top: 220px;

}

#contact a  {
    text-decoration: none;
	color: #767c7c;
    font-size: 50px;
}

#contact p {
	text-align: center; 
	font-size: 60px;
	font-family: 'Racing Sans One', cursive;
}

.container h2 {
	font-family: 'Racing Sans One', cursive;
}


